<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Get an access code from http://www.wsdot.wa.gov/Traffic/api/ -->
		<add key="accessCode" value="put-your-access-code-here"/>
	</appSettings>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="index.html"/>
				<add value="Default.htm"/>
				<add value="Default.asp"/>
				<add value="index.htm"/>
				<add value="iisstart.htm"/>
				<add value="default.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<system.web>
		<compilation debug="true"/>
	</system.web>
</configuration>